
@keyframes darked {
    from {
        filter: 
        brightness(45%);
    }
    to {
        filter: 
        brightness(25%);
    }
}
#hudSotano{
    animation-name: darked;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#preza img{
    height: 150px;
}