@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
    margin: 0;
    padding: 0;
    user-select: none;
    position: relative;
    text-transform: capitalize;
}
button{
    cursor: url('/assets/cursores/cursorOnButton.cur'), auto;
    background:none;
    border: none;
}
body{
    z-index: 0;
    background-color: pink;
    border: 15px solid rgba(0, 0, 0, 0.5);
    max-height: 96vh;
}
.buttonActive:active{
    background-color: cornflowerblue;
}
#prota{
    z-index: 4;
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
    bottom: 86vh;
}