@keyframes botonStart {
    from {
        line-height: 90px;
        word-spacing: 1px;
        word-spacing: 1px;
    }
    to {
        line-height: 90px;
        letter-spacing: 40px;
        word-spacing: 40px;
        filter:invert()
    }
}
@keyframes botonStart2 {
    0% {
        background-color: rgb(30, 255, 0);
    }
    10% {
        background-color: rgb(183, 0, 255);
    }
    20%{
        background-color: rgb(17, 0, 255);
    }
    30%{
        background-color: rgb(0, 174, 255);
    }
    45%{
        background-color: rgb(0, 255, 179);
    }
    80%{
        background-color: rgb(0, 255, 0);
    }
    90%{
        background-color: rgb(94, 255, 0);
    }
    100%{
        background-color: rgb(255, 0, 0);
    }
}
@keyframes botonStart3 {
    0% {
        border-bottom: 5px solid rgb(255, 0, 0),;
        border-bottom-style: dashed;
        text-shadow: 2px 2px 2px red;
    }
    10% {
        border: 3px solid rgb(0, 4, 255);
        border-bottom-style: dotted;
        text-shadow: 4px 4px 4px greenyellow;
    }
    20%{
        border-bottom: 5px solid rgb(195, 0, 255);
        border-bottom-style: double;
        text-shadow: 4px 40px 4px rgb(255, 200, 47);
    }
    30%{
        border-bottom: 3px solid rgb(255, 0, 76);
        border-bottom-style: dotted;
        text-shadow: 40px 4px 4px rgb(255, 130, 47);
    }
    45%{
        border: 3px solid rgb(0, 247, 255);
        border-bottom-style: dotted;
        text-shadow: 4px 4px 4px rgb(47, 255, 47);
    }
    80%{
        border-bottom: 3px solid rgb(187, 255, 0);
        border-bottom-style: double;
        text-shadow: 40px 40px 4px rgb(68, 47, 255),4px 4px 4px rgb(47, 255, 47);
    }
    90%{
        border-bottom: 3px solid rgb(247, 0, 255);
        border-bottom-style: dotted;
        text-shadow: 40px 4px 4px rgb(47, 255, 57);
    }
    100%{
        border: 3px solid rgb(0, 255, 234);
        border-bottom-style: dotted;
        text-shadow: 40px 4px 4px rgb(47, 255, 141);
    }
}
@keyframes botonStart4 {
    0% {
        text-shadow: 5px 40px 2px red,4px 4px 4px rgb(47, 255, 47),5px 5px 5px rgb(47, 61, 255),8px 8px 8px rgb(255, 47, 47);
    }
    10% {
        text-shadow: 10px 40px 4px greenyellow ,1px 10px 1px red,1px 15px 1px rgb(47, 255, 47),1px 20px 1px rgb(0, 17, 255),1px 25px 1px rgb(204, 0, 255);
    }
    20%{
        text-shadow: 27px 40px 4px rgb(255, 200, 47),1px 15px 1px red,1px 20px 1px rgb(47, 255, 47),1px 25px 1px rgb(0, 17, 255),1px 30px 1px rgb(204, 0, 255);
    }
    30%{
        text-shadow:  4px 4px rgb(255, 130, 47),4px 4px 4px rgb(47, 255, 47);
    }
    45%{
        text-shadow: 4px 4px 4px rgb(47, 255, 47);
    }
    80%{
        text-shadow: 40px 40px 4px rgb(68, 47, 255),4px 4px 4px rgb(47, 255, 47),1px 10px 1px red,1px 15px 1px rgb(47, 255, 47),1px 20px 1px rgb(0, 17, 255),1px 25px 1px rgb(204, 0, 255);
    }
    90%{
        text-shadow: 40px 4px -40px rgb(47, 255, 57);
    }
    100%{
        text-shadow: 4px 40px rgb(47, 255, 141),10px 10px 1px red,15px 15px 1px rgb(47, 255, 47),1px 20px 1px rgb(0, 17, 255),1px 25px 1px rgb(204, 0, 255);
    }
}
@keyframes botonStart5 {
    0% {
        font-family: 'Babylonica', cursive;
    }
    10% {
        font-family: 'Covered By Your Grace', cursive;
    }
    20%{
        font-family: 'Fredericka the Great', cursive;
    }
    30%{
        font-family: 'Fredoka One', cursive;
    }
    45%{
        font-family: 'Libre Barcode 128', cursive;
    }
    80%{
        font-family: 'Press Start 2P', cursive;
    }
    90%{
        font-family: 'Redacted', cursive;
    }
    95%{
        font-family: 'Redacted Script', cursive
    }
    100%{
        font-family: 'Silkscreen', cursive;
    }
}
#iniciarJuegoBoton{
    animation-name: botonStart, botonStart2, botonStart3, botonStart4, botonStart4,botonStart5 ;
    animation-duration: 1s ,5s ,.9s,.5s,1s ,1s;
    animation-iteration-count: infinite,infinite,infinite,infinite,infinite,infinite;
    animation-direction: alternate,alternate,alternate,alternate,alternate,alternate;
}
#iniciarJuegoBoton p{
    animation-name:botonStart5 ;
    animation-duration:4.5s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-delay: 10s;
}
.botonStart:hover{
    transition-delay: 3s;
    animation-name: botonStart, botonStart2, botonStart3  ;
    animation-play-state: paused, paused, paused;
    
    
}
@keyframes title {
    from {
        border: 4px slateblue solid;
        transform: scale(0.9);
        z-index: 1;
    }
    to {
        transform: scale(1);
        z-index: 1;        
        border: 3px rgb(183, 0, 255) solid;
        box-shadow: -12vh 12vh 33px rgba(0, 0, 0, 0.5);

    }
}
#title{ 
    transform: translate(-100px);
    position: sticky;
    animation-name: title ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 150px;
    width: 900px;
}
#title img{
    height: 100%;
    width: 100%;
    z-index: 1;
}