
@keyframes Startscreamer {
    from {}
    to {
        background-color: black;
    }
}
#inicio{
    animation-name:Startscreamer;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 3s;
}

