#game{
    position: relative;
    height: 100%;
    width: 100%;
    
}
#title{
    height: 250px;
    left: 35vh;
    z-index: 1;
   
}
#StartButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#inicio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 5vh;

    
}
.botonera{
    float: inline-start;
    position: relative;
    top: 2vh; 
    transition-delay:.1s ;
    justify-content: center;
    display: flex;
    min-height: 10vh;
}
.botonera:hover{
    z-index: 10;
    transition: .2s;
    scale: 1.1; 
}
#inicio  button {
    height: 120px;
    width: 1000px;
    font-size: xx-large;
    
}
.botonStart{
    height: 90px;
}
#comoJugarBoton{
    padding-top: 5%;
}
#comoJugarDisplay div{
    text-align: center;
    font-size: large;
    line-height: 35px;
    margin-top: 5%;
}
#volverInicio{
    background-color: white;
    color: black;
    border: 2px solid grey;
    height: 50px;
}
#volverInicio:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    height: 50px;
}