#game{
    position: relative;
    height: 100%;
    width: 100%;
    
}
#inicio{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#title{
    z-index: 1;
    height: 400px;
    width: 100%

}
.title1{
    height: 400px;
    width: 100%;
    background-image: url(./../../assets/otros/My_First_Friend.jpg);
    background-size: contain;
}
#StartButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.botonera{
    float: inline-start;
    position: relative;
    transition-delay:.1s ;
    justify-content: center;
    display: flex;

}
#inicio  button {
    font-size: xx-large;
    margin-bottom: 5%;
    margin-top: 1%;
}
.botonStart{
    justify-content: center;
}

#comoJugarDisplay div{
    text-align: center;
    font-size: large;
    line-height: 35px;
    margin-top: 5%;
}
#volverInicio{
    background-color: white;
    color: black;
    border: 2px solid grey;
    height: 50px;
}
#volverInicio:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    height: 50px;
}
#iniciarJuegoBoton:hover{
    scale:1.2;
    border-bottom: 12px dotted black;
}
#comoJugarBoton:hover{
    scale:1.2;
    border-bottom: 12px dotted black;
}
