#moneySpawn{
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    height: 80%;
    width: 100%;
}
#moneySpawn div{
    position: absolute;
    background: url(./../../assets/coins/coin.png) no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    z-index: 0;
    animation: roll 1s infinite ;
    transition: 2s;
}
@keyframes roll{0%{transform: rotateY(360deg);}100%{}}

.catchCoins{
    animation: catch 2s 1 !important ;
    transition: 2s;
}
@keyframes catch {0%{}100%{
    position: absolute;
    transform: translateX(500px)
    translateY(150px)
    skew(50deg);
    scale: 4.5;
    filter: invert();
}}