#moneySpawn{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    height: 100px;
}
#moneySpawn div{
    position: absolute;
    background: url(./../../assets/coins/coin.png) no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    z-index: 0;
    animation: roll 1s infinite ;
    transition: 2s;
}
@keyframes roll{0%{transform: rotateY(360deg);}100%{}}