#shoot{
    height: 100%;
    width: 100%;
    background-color: white;
}

#shootGame{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

#health{
    display: flex;
    background-color: red;
    border-bottom: 1px solid;
    border-top:1px solid ;
    width: 100%;
    height: 7%;
    text-align: start;
    justify-content: flex-start;
    align-items: center;
    font-size: x-large;
    letter-spacing: 30px;
    transition: 1s;
    z-index: 1000;
}
#health:hover{
    z-index: 200;
    height: 10%;
}
#shootArea{
    border-bottom: 1px solid;
    border-top:1px solid ;
    width: 100%;
    height: 80%;
    z-index: 0;
    overflow: hidden;
    cursor: url(./../../assets/cursores/crossHair.cur),auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    background: url(./../../assets/start/Forest.png) no-repeat ;
    background-position: center;
    background-size: cover;
}
#spawnPoints div{
    cursor: url(./../../assets/cursores/crossHairBang.cur),auto ;
}
#ronda{    
    font-size: xx-large;
    position: absolute;
    z-index: 1;
}
#Accion{
    transition: 1s;
    background-color: green;
    border-bottom: 1px solid;
    border-top:1px solid ;
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    z-index: 100;
}
#accion div{
    border-bottom: 1px solid;
    border-top:1px solid ;
    background-color: darkmagenta;
    align-items: center;
    font-size: 22px;
}
#Accion:hover{
    z-index: 2;
    height: 15%;
}
#municionRestante{
    position: fixed;
    z-index: 100;
}
#spawnPoints{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

}
#spawnPoints div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Estilos adicionales */
  
}
@keyframes FinalRoundflash {
    from {}
    to {filter: invert();}
}
#finalRonda{
    display: block;
    border: 3px double;
    background-color: white;
    z-index: 20;
    width: 0;
    opacity: 0%;
    justify-content: center;
    align-items: center;
    animation: finalRonda 3s 1 forwards,FinalRoundflash 1s infinite  ;
}
#finalRondaB{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4%;
    cursor: url(./../../assets/cursores/cursor.cur),auto ;
   
}
#finalRondaB button{
    font-size: x-large;
    opacity: 0%;
    cursor: url(./../../assets/cursores/cursorBang.cur),auto ;
    animation: finalRondaB 3s 1 forwards ;
    animation-delay: 3s;
}
#textoFinalRonda{
    width: 100%;;
}
#textoFinalRonda{
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes finalRonda {from {}to {width: 1200px; opacity: 100%;}}
@keyframes finalRondaB {from {}to {opacity: 100%;}}
