#gameOver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: black;
} 

#gameOver div {
    color: white;
    left: 40%;
    width: 100%;
    padding-top: 5%;
    bottom: 10%;
    line-height: 30px;
    text-decoration: underline;
}
#gameOver button{
    color: white;
    background-color: grey;
    left: 35%;
    top: 4%;
}