@keyframes arrowHover {
    from { 
        
    }
    to {
        border-radius: 20%;
        z-index: 10;
        background-color: plum;
       background-size: contain;
    }
}
.arrow{
    animation-name: arrowHover ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}
@keyframes pat {
    from { 
        rotate:-3deg;
        z-index: 1;
    }
    to {
        rotate: 3deg;
        z-index: 1;
    }
}
@keyframes patMove {
    from { 
        padding-right: -40px;
    }
    to {
        padding-left: 555px;
    }   
}
@keyframes patMoveBack {
    from { 
        scale:1;
        z-index: 1;
    }
    to {
        scale: .8;
        z-index: 1;
    }
}


.pat{
    animation-name: patMove, pat, patMoveBack;
    animation-duration: 15s, .9s, 20s;
    animation-iteration-count: infinite,infinite,infinite;
    animation-timing-function: linear,linear,linear;
    animation-direction: alternate,alternate,alternate;
    z-index: 1;
}

@keyframes tamamagochiButton {
    from { 
        background-color: aqua;
        text-decoration-style: dotted;
        border: 5px red;
        border-style: double;

    }
    to {
        border-radius: 10%;
        background-color: plum;
       background-size: contain;
       border: 10px violet;
       border-style: ridge;
    }
}

.tamamagochiButton{
    animation-name: tamamagochiButton ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}


@keyframes tamamagochiButtonHover {
    from { 
        background-color: green;
        text-decoration-style: dotted;
        border: 1px rgb(255, 0, 212);
        border-style: dashed;

    }
    to {
        border-radius: 10%;
        background-color:greenyellow;
       background-size: contain;
       border: 5px rgb(0, 4, 255);
       border-style: dashed;
    }
}

.tamamagochiButton:active{
    animation-name: tamamagochiButtonHover ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes timeOut {
    from { 
        border: 500px solid rgba(255, 0, 0, 0);
        opacity: 50%;
        background-size: 510px;
        background-image: url(/assets/ElementosRooms/interferenciaHud.jpg);
        background-position: center;
        background-repeat: none;
        transform: rotate(90deg)
        translateY(0px);

    }
    to {
        border: 500px solid rgba(174, 0, 255, 0.123);
        background-image: url(/assets/ElementosRooms/interferenciaHud.jpg);
        background-position: center;
        background-repeat: none;
        opacity: 10%;
        background-size: 510px;
        transform:rotate(90deg);

    }
}
#timeOut{
    animation-name: timeOut ;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes cartelEmergenteUp {
    from { 
        margin-bottom: 0px;
        width: 20%;
        
    }
    to {
        margin-bottom: 100px;
        width: 20%;
        filter: saturate(2)
        brightness(70)
    }
}
@keyframes cartelEmergenteShake {
    from { 
        transform: 
        rotateY(-360deg);
        background-color: red;
    }
    to {
        transform: 
        rotateY(360deg);
        background-color: yellow;
    }
}
@keyframes cartelEmergenteBlow {
    from {opacity: 100%;}
    to {opacity: 0%;
}
}
@keyframes cartelEmergenteGlow {
    from { }
    to {
        filter: saturate(20)
        brightness(20)
        invert();
    }
}
.cartelEmergenteDis{
    animation-name: cartelEmergenteUp, cartelEmergenteShake, cartelEmergenteGlow, cartelEmergenteBlow  ;
    animation-duration: 1s , 1.5s , 1.5s ,  1s;
    animation-iteration-count: 1, 2, 2,1;
    animation-fill-mode:forwards, both, backwards, forwards;
    animation-direction: alternate, alternate, alternate, alternate;
    animation-delay: 0ms, 1s , 1s , 3s;
}

