.arrowButton{
    background:none;
    border: none;
    z-index: 3;

    
}
#arrowControl{
    display: flex;
    z-index: 10;
}

#hud{
    display: flex;
    flex-direction: row;
}
.arrow{
    height: 100%;
    z-index: 3;
}
#arrowTwo:hover{
    content: url(/assets/puerpleArrow.png);
    animation-name: arrowHover ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#arrowOne:hover{
    content: url(/assets/puerpleArrowR.png);
    animation-name: arrowHover ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hudPrin{
    height: 100vh;
    z-index: 1;
    background: url(/assets/Room0.png) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}
#flechas{
    height: 100px;
    z-index: 3;
    display: flex;
    flex-direction: space-between;
    gap: 80%;
    padding-left: 4%;
    bottom: 115vh;
}
#off{
    background-color:red ;
    border: 1px black solid;
}
#off:hover{

    transition: 1s;
    background-color: blue;
}
#botoneraTamagochi{
    z-index: 3;
    height: 15%;
    display:flex;
    justify-content: space-around;
    position: relative;
    bottom: 19vh;
    
}
#botoneraTamagochi div{
    height: 90%;
}
.tamamagochiButton{
    background-color: aqua;
    border: 2px solid red;
    height: 100%;
    text-transform: uppercase;
    text-transform: full-width;
    text-decoration: underline;
    text-decoration-style: wavy;
    

}
.investigar{
    cursor: url(/assets/investigacion.cur),auto;
}