

@keyframes salud {
    from { 
        text-decoration: underline;
        color: red;
    }
    to {
        text-decoration: underline;
        color: blue;
    }
}
.healing::first-letter{   
    animation-name: salud ;
    animation-duration: .1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}





