#gamePeleaHud{
    height: 100%;
    text-transform: uppercase;
}
#fondo{
    background-image: url(../../assets/Rooms/Room7.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
}
#botonesHudPelea{
    display: flex;
    flex-direction: row;
    height:23%;
    justify-content:space-between;
}
#botonesHudPelea div{
    display: block;
    justify-content:space-around;


}
#botonesHudPelea button{
    height: 60%;
    width: 200px;
    border: 22px black;
    text-transform: uppercase;
    background-color: purple;
    border-width: 12px;
    border-style:double;
}
#botonesHudPelea button:hover{
    border-width: 12px;
    border-style:dashed;
    background-color: royalblue;
    text-orientation: sideways-right;
}
#botonesHudPelea button:active{
    background-color: chartreuse;

}
#texto{
    display: flex;
    position: relative;
    justify-self: center;
    text-transform: uppercase;
}
#victima{
    z-index: 10;
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
    height: 250px;
    top: 15%;

}
#vitimText{
    background-color: rgba(255, 80, 80, 0.623);
    max-width: 30%;
    font-size: 16px;
    position: fixed;
    bottom: 52%;
    height: 40%;
    left: 2%;
    line-height: 30px;
    transition: .5;
    transition-delay: .1;
}
#nemesisHeal{
    position: fixed;
    z-index: 10;
    top: 2%;
    left: 33%;
    font-size: xx-large;
    color: chartreuse;
    font-family: 'Silkscreen', cursive;
}
#nemesisHeal::first-letter{
    color: red;
}
#protaTextBattle{
    border: black 2px solid;
    background-color: antiquewhite;
    height: 100px;
    color: black;
    height: 10%;
    text-align: center;
    background: rgb(65,232,216);
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-style: wavy;
    line-height: 30px;
    
}
#vitimObi{
    border: black 2px solid;
    background-color: antiquewhite;
    color: black;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 30px;
    height: 15% ;
}
#battleHE{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 30px;
    border: 1px black solid;
    height: 10%;
}
#battleHE p{
    border: 1px black solid;
    text-transform: uppercase;
    height: 100%;
    font-size: x-large;
    line-height: 55px;
    letter-spacing: 20px;
    text-shadow: red 2px 2px;
}
#battleHE p::first-letter{
    color: red;
    
}
.cursorPelea{
    cursor: url('../../assets/cursores/cursorF.cur'),auto;
}
.energy{
    background-color: aqua;
}
.healing{
    background-color: green;
    
}