#hudSalaDeJuegos{ 
    height: 55%;
    z-index: 1;
    background: url(../../../assets/Rooms/Room4.png) no-repeat center center;
    background-size: 100%;
    background-position: center;
}
#viewSkills{
    background-color: #ffc1ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 101%;
}
#viewSkills div{
    left: 2%;
    display: flex;
    border:2px solid black;
    max-width:95%;
    margin-bottom: 1%;
    box-shadow: 32px 12px;
    z-index: 1;
    line-height: 30px;
    text-decoration: underline;
    transition: .1s;
    transition-delay: .1;
    max-height: 9%;
}

#viewSkills div:hover{
    color: blue;
    z-index: 3;
    transition: .2s;
    transition-delay: .1;
    max-height: 100%;
}
#selecSkills{
    position: fixed;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows:repeat( 10, 10%);
    margin-left: -1%;
    margin-top: -10%;
    max-width: 100%;
    height: 100%;
    padding-top: 10%;
}
#selecSkills div{
    display: block;
    border: 1px solid red;
    max-width: 85%;
    justify-content: center;
    left: 1%;
    bottom: 10%;
    font-size: large;
    box-shadow: grey 40px 1px;
    z-index: 2;
    background-color:rgb(212, 212, 212);
    transition: .5s;
    transition-delay: .1s;
}
#selecSkills div:hover{
    background-color: pink;
    box-shadow:blue 44px 20px;
    color: blue;
    z-index: 3;
    scale: 1.2;
    transition: .2s;
    left: 6.9%;
}
#selecSkills div button{
    height: 100%;
    width: 100%;
    line-height: 30px;
    
}
#selecSkills div button:hover{
    color: blue;
    z-index: 3;
    text-shadow: greenyellow 4px 2px, red 2px 4px;
    text-decoration: underline;
    text-decoration-style: double;
}


#playgroundSkills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 30px;
    border: 1px black solid;
    height: 25%;
}
#playgroundSkills p{
    border: 1px black solid;
    background-color: green;
    text-transform: uppercase;
}
#botonesPlayground{
    display: flex;
    flex-direction: row;
    height:23%;
    justify-content:space-between;
    
}
#botonesPlayground div{
    display: block;
    justify-content:space-around;

}
#botonesPlayground button{
    height: 60%;
    width: 200px;
    border: 22px black;
    text-transform: uppercase;
    background-color: purple;
    border-width: 12px;
    border-style:double;
}
#cambiarSkills{
    top: 35%;
}

#botonesPlayground button:hover{
    border-width: 12px;
    border-style:dashed;
    background-color: royalblue;
    text-orientation: sideways-right;
}
#botonesPlayground  button:active{
    background-color: chartreuse;

}