
#hudCocina{
    height: 55%;
    z-index: 1;
    background: url(/assets/Rooms/Room3.png) no-repeat center center;
    background-size: 100%;
    background-position: center;
}
#timeNow{
    display: flex;
    justify-content: end;
    font-size:large ;
    right: 10%;
    line-height: 40px;
    color: violet;
    text-shadow: 3px 3px 3px red;
}