#configurationH{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: palevioletred;
    color: white;
    cursor: url(./../../assets/cursores/cursor.cur),auto ;
    }
#configurationH button{
    height: 100px;
    width: 300px;
    font-size: xx-large;
    border: 5px dotted;
    cursor: url(./../../assets/cursores/cursorBang.cur),auto ;
}
#configurationH button:hover{
    height: 100px;
    width: 300px;
    font-size: xx-large;
    border: 5px ;
    border-style:dashed;
    background-color: bisque;
}
#replace{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.863);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    transition: 1s;
}
#replace div{
    font-size: xx-large;
    background-color: bisque;
    border: 15px dotted black;
    color: #000;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    animation: shadow 1s infinite alternate,shadowClock 4s infinite normal ;
}
@keyframes shadowClock{0%{border-top: 15px dotted red;}25%{border-left: 15px dotted yellow;}50%{border-bottom: 15px dotted green;}75%{border-right: 15px dotted blue;}}
@keyframes shadow{0%{scale: 1.1;}100%{}}
#textoConfiguration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    position: absolute;
    left: 1vh;
    top: 10;
}