#start {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    gap: 1000px;
    overflow: hidden;
  }
#gameTitle{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 1000px; 
    height: 400px; 
    background-color: red; 
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#gameTitle button{
    height: 100px;
    width: 400px;
}
#startGameB{
    background: url(:/../../../assets/start/empezar1.png) no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}