#start {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100vh; 
    gap: 1000px;
    overflow: hidden;
    cursor: url(./../../assets/cursores/cursor.cur),auto ;
    background-position: center;
    background-size: cover;
    animation: StartLogo 10s infinite alternate ;
    background: url(./../../assets/start/Forest.png) no-repeat;
  }
  @keyframes StartLogo {from {background-position-x: -50vh;}to {background-position-x: -90vh;}}

#gameTitle{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 1000px; 
    height: 400px; 
    background-color: red; 
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#gameTitle button{
    height: 100px;
    width: 400px;
    cursor: url(./../../assets/cursores/crossHairBang.cur),auto ;
}
#startGameB {
    background: url(:/../../../assets/start/Empezar0.png) no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}
  
  #startGameB:hover {
    background: url(:/../../../assets/start/Empezar05.png) no-repeat;
      background-position: center;
      background-size: contain;
  }
#configurationB{
    background: url(:/../../../assets/start/Configurar2.png) no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}
#configurationB:hover{
    background: url(:/../../../assets/start/Configuracion05.png) no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}
#HowToPlayB{
    background: url(:/../../../assets/start/Como_jugar_2.png) no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}
#HowToPlayB:hover{
    background: url(:/../../../assets/start/Como_jugar05.png) no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}
  
  
  
  
  
  